atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.11.8
colorzero==1.1
gpiozero==1.5.1
importlib-metadata==3.1.1
more-itertools==8.6.0
packaging==20.7
pendulum==2.1.2
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.1.2
python-dateutil==2.8.1
pytzdata==2020.1
sentry-sdk==0.19.4
six==1.15.0
urllib3==1.26.2
wcwidth==0.2.5
zipp==3.4.0
