atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.12.5
colorzero==2.0
gpiozero==1.6.2
importlib-metadata==4.0.1
more-itertools==8.7.0
packaging==20.9
pendulum==2.1.2
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
python-dateutil==2.8.1
pytzdata==2020.1
sentry-sdk==1.0.0
six==1.15.0
urllib3==1.26.4
wcwidth==0.2.5
zipp==3.4.1

rpimotorlib~=3.0